--find-links https://download.pytorch.org/whl/torch_stable.html
box2d-py
etaprogress
gym[atari, accept-rom-license]==0.26.2
imageio~=2.16.1
matplotlib~=3.5.1
nes-py
numpy~=1.21.5
opencv-python~=4.5.5.64
psutil~=5.9.0
pyclustering
ray
scikit-learn
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm
umap-learn
seaborn~=0.11.2
setuptools~=61.2.0
pillow~=9.1.0
scipy~=1.8.0
procgen~=0.10.7