--find-links https://download.pytorch.org/whl/torch_stable.html
etaprogress
gymnasium[atari]
crafter
imageio
matplotlib
numpy~=1.24.4
opencv-python
pyclustering
scikit-learn
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm
umap-learn[plot]
seaborn
scipy
pyyaml
giotto-tda
kaleido
psutil
pytorch_msssim
